<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ShelfContext" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=ShelfContext-20190514Basic;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework;AttachDbFilename=C:\work\MyGitHub\PrismGenerallySample\05-BasicApp\BasicApp\App_Data\ShelfContext.mdf;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>