<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ShelfContext" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=ShelfContext-20190404;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework;AttachDbFilename=C:\work\MyGitHub\PrismGenerallySample\PrismApp2\PrismApp2\App_Data\ShelfContext-20190404.mdf;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>